CREATE DATABASE SHOESSHOP

--DATA PRODUCT
CREATE TABLE PRODUCTTYPE
(
	MALOAI INT IDENTITY(1,1) PRIMARY KEY,
	TENLOAI NVARCHAR(20)
)

INSERT INTO PRODUCTTYPE(TENLOAI)
VALUES(N'Nike')
INSERT INTO PRODUCTTYPE(TENLOAI)
VALUES(N'Adidas')
INSERT INTO PRODUCTTYPE(TENLOAI)
VALUES(N'Vans')


--lệnh update data
UPDATE PRODUCTTYPE SET TENLOAI = 'Dior' WHERE MALOAI = 1;



CREATE TABLE COLORTYPE
(
	MAMAU INT IDENTITY(1,1) PRIMARY KEY,
	MAU NVARCHAR(15)
)
--thêm màu vào table colortype
INSERT INTO COLORTYPE(MAU)
VALUES(N'Blue')
INSERT INTO COLORTYPE(MAU)
VALUES(N'Red')
INSERT INTO COLORTYPE(MAU)
VALUES(N'White')

--lệnh xoá màu              (điều kiện)
DELETE FROM COLORTYPE WHERE MAU='Green';

CREATE TABLE CUTPRICE
(
	MAGG CHAR(6) PRIMARY KEY,
	GIA FLOAT
	
)
alter table CUTPRICE
ADD TG_BATDAU DATETIME
alter table CUTPRICE
ADD TG_KETTHUC DATETIME


CREATE TABLE PRODUCT
(
	MASP INT IDENTITY(1,1) PRIMARY KEY,
	TENSP NVARCHAR(20),
	MALOAI INT,
	MAMAU INT,
	HINHANH NVARCHAR(100),
	MOTA NVARCHAR(100),
	GIA FLOAT,
	NGAYTHEM DATETIME,
	CONSTRAINT FK_MALOAI FOREIGN KEY (MALOAI) REFERENCES PRODUCTTYPE(MALOAI),
	
)
alter table product
ADD KICHTHUOC INT
alter table product
ADD SOLUONG INT
alter table product
ADD CONSTRAINT FK_MAMAU_COLORTYPE FOREIGN KEY (MAMAU) REFERENCES COLORTYPE(MAMAU)
alter table product
ADD MAGG CHAR(6) 
alter table product
ADD CONSTRAINT FK_MAGG FOREIGN KEY (MAGG) REFERENCES CUTPRICE(MAGG)
alter table product
ADD NGAYSUA DateTime DEFAULT NULL
alter table product
ALTER COLUMN MOTA NVARCHAR(1000) 
alter table product
ALTER COLUMN NGAYTHEM DATETIME 
alter table product
ALTER COLUMN HINHANH VARCHAR(100)



set dateformat DMY
/*insert into PRODUCT(TENSP,MALOAi,MAMAU,HINHANH,MOTA,KICHTHUOC,SOLUONG,GIA)
values(N'Sneaker hights',1,1,'saascsc',N'Đúng như tên gọi, đây là dòng sản phẩm với thiết kế cổ thấp dưới mắt cá chân đặc trưng',43,12,190000)
*/
insert into PRODUCT(TENSP,MALOAi,MAMAU,HINHANH,MOTA,KICHTHUOC,SOLUONG,GIA)
values(N'giaỳ hoà trần',1,1,'saascsc',N'Đúng như tên gọi, đây là dòng sản phẩm với thiết kế cổ thấp dưới mắt cá chân đặc trưng',43,12,190000)

--AUTHENCATION
CREATE TABLE ROLE
(
	IDROLE CHAR(6) primary key,
	RoleName nvarchar(10)
)

CREATE TABLE LOGIN
(
	ID INT IDENTITY(1,1) PRIMARY KEY,
	USERNAME NVARCHAR(50),
	PASSWORD VARCHAR(20),
	IDROLE CHAR(6),
	constraint FK_IDROLE FOREIGN KEY(IDROLE) references ROLE(IDROLE)
)


