

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>AddProduct</h2>

<form method="post" action="HandelAddProduct" enctype="multipart/form-data">
    <div class="form-add-product_background" >
            <div class="form_add-product" >
                    <div class="form_add-product_left"  style="margin-right: 10px;">
                        <div class="form-group">
                            <label>Product Name</label>
                            <input value="" name="TENSP" type="text" class="form-control add-product_input" >
                        </div>
                        <div cwidthrm-group">
                            <label>Description</label>
                            <input value="" type="text" class="form-control add-product_input" name="MOTA" >
                        </div>
                        <div class="form-group">
                            <label>Image</label>
                            <input value="" type="file" class="form-control add-product_input" name="fileImage">
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input value="" type="text" class="form-control add-product_input" name="GIA">
                        </div>
                    </div>
                    <div class="form_add-product_right">
                        <div class="form-group">
                            <label>Size</label>
                            <input value="" type="text" class="form-control add-product_input" name="KICHTHUOC">
                        </div>
                        
                         <div class="form-group ">
                        <label>number of shoes</label>
                            <input value="" type="text" class="form-control add-product_input" name="SOLUONG">
                         </div>
                        <div class="form-group ">
                            <label>color codes</label>
                            <select class="form-control add-product_input" name="MAMAU">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                         </div>
                        <div class="form-group ">
                            <label>shoe codes</label>
                            <select class="form-control add-product_input" name="MALOAI">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
            </div>

            <div style="width:100%;">
                <button type="submit" class="btn btn-primary btn-submit-add-product" style="margin:auto; display:inherit;" >Submit</button>
            </div>
            
        </div>

    
</form>