

/*CSS PAGE CATEGORY PRODUCT*/
.container_category-product {
    min-height: 420px;
}

/*CSS PAGE ADD PRODUCT*/
.form_add-product {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}
.btn-submit-add-product{
    margin: auto;
    width: 160px;
}
.add-product_input{
    border: 0.4px solid #808080;
    border-radius:8px;
    color: black;
}
.container_form-add-product {

    display:flex;
    justify-content:center;
    align-items: center;
}
.form-add-product_background {
    background-image: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat:no-repeat;
    width:100%;
    background-size:cover;
  
}
.form_add-product_left {
    width: 50%;
    margin-right: 10px;
}
.form_add-product_right {
    width: 20%;
}